@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Kufam', cursive;
}


.img_head{
  height:50%;
  width:100%;
}

.main_head{
  display: block;
  justify-content: center;
}

.head2{
  font-size:150%;
}